.popup__container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    display: flex;
    max-width: 430px;
    max-height: 330px;
    flex-direction: column;
    margin: auto;
    padding: 0;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
    }
}