.login__submit-button_disable {
    background-color: #ffffff;
    opacity: 0.85;
    color: #000;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }