.popup__close {
    background: url("../../../images/CloseIcon.svg");
    position: absolute;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 600px) {
    .popup__close {
        background: url("../../../images/CloseIconmini.svg");
        width: 20px;
        height:20px;
    }
}