@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__logout/header__logout.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__button/_active/header__button_active.css);
@import url(./blocks/header/__email-container/header__email-container.css);
@import url(./blocks/header/__email-container/_opened/header__email-container_opened.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__page/header__page.css);
@import url(./blocks/header/__page/_opened/header__page_opened.css);

@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__content/profile__content.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./components/Loading/Loading.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__remove/elements__remove.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__group/elements__group.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__container/elements__container);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__counter/elements__counter.css);
@import url(./blocks/elements/__like/_active/elements__like_active.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_registration/popup__container_registration.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close/_profile/popup__close_profile.css);
@import url(./blocks/popup/__close/_card/popup__close_card.css);
@import url(./blocks/popup/__close/_delete/popup__close_delete.css);
@import url(./blocks/popup/__card/popup__card.css);
@import url(./blocks/popup/__registration-image/popup__registration-image.css);
@import url(./blocks/popup/__registration-image/__error/popup__registration-image_error.css);
@import url(./blocks/popup/__registration-title/popup__registration-title.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title/_delete/form__title_delete.css);
@import url(./blocks/form/__box/form__box.css);
@import url(./blocks/form/__box/_invalid/form__box_invalid.css);
@import url(./blocks/form/__save/form__save.css);
@import url(./blocks/form/__save/_noactive/form__save_noactive.css);
@import url(./blocks/popup/__case/popup__case.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__error/login__error.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__input/_invalid/login__input_invalid.css);
@import url(./blocks/login/__submit-button/login__submit-button.css);
@import url(./blocks/login/__submit-button/_disable/login__submit-button_disable.css);
@import url(./blocks/login/__subtitle-link/login__subtitle-link.css);
@import url(./blocks/login/__subtitle/login__subtitle.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/register/register.css);
