.form {
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    margin: 34px 36px 37px;
    max-width: 358px;
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .form {
        max-width: 238px;
        margin: 25px 22px;
    }
}